<div class="grid-container">
  <h1 class="mat-h1">{{ 'OWNERS' | translate }}</h1>

  <app-owners-table
  [ownersPermission$]="ownersPermission$"
  [ownersObservable]="owners"
  (clickEditOwner)="editOwner($event)"
  (clickRemoveOwner)="removeOwner($event)">
</app-owners-table>

<button mat-fab class="add" [matTooltip]="'ADD' | translate" [routerLink]="['../form', '']" [queryParams]="{ mode: 'create' }">
  <mat-icon>add</mat-icon>
</button>

</div>
