<div class="example-header">
  <mat-form-field>
    <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z4" *ngIf="ownerDataSource">

  <mat-table [dataSource]="ownerDataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ID' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.firstName + ' ' + row?.lastNameOne}} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PHONE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.phone }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'EMAIL' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.email }} </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ADDRESS' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.address }} </mat-cell>
    </ng-container>

    <!-- User type Column -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button [matTooltip]="'EDIT' | translate" mat-icon-button (click)="clickEditOwner.emit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [matTooltip]="'REMOVE' | translate" mat-icon-button (click)="clickRemoveOwner.emit(row?.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
