<form [formGroup]="officeForm" (submit)="submit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ title | translate }}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
  
        <div class="example-container">
          <mat-form-field>
            <input matInput autocomplete="false" [readonly]="this.mode === 'edit'" [placeholder]="'ENTER_OFFICE_ID' | translate" formControlName="id" required>
            <mat-error *ngIf="officeForm.get('id').hasError('required')">
              {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="officeForm.get('id').hasError('maxlength') || officeForm.get('id').hasError('minlength')">
              {{ 'THIS_FIELD_MAX_LENGTH_255_AND_MIN_LENGTH_2' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="example-container">
          <mat-form-field>
            <input matInput autocomplete="false" [placeholder]="'ENTER_OFFICE_NAME' | translate" formControlName="name" required>
            <mat-error *ngIf="officeForm.get('name').hasError('required')">
              {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="officeForm.get('name').hasError('maxlength') || officeForm.get('name').hasError('minlength')">
              {{ 'THIS_FIELD_MAX_LENGTH_255_AND_MIN_LENGTH_2' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="mode === 'edit'? officesPermissions?.update : officesPermissions?.create" fxLayout="row" fxLayout.xs="column">
        <button fxFlex="20" fxFlexOffset="80" class="save" type="submit" mat-button [disabled]="officeForm.invalid" color="primary">
          {{ 'SAVE' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  