<div class="grid-container">
    <h1 class="mat-h1">{{ 'TECHNICAL_ASSIGNMENT' | translate }}</h1>
  
  
    <assignment-technician-table
    [technicalsPermission$]="technicalsPermission$"
    [technicalsObservable]="technicals"
    [coordinator]="coordinator"
    (clickSaveSelection)="clickSaveSelection($event)">
    </assignment-technician-table>

  </div>
  