<form [formGroup]="userForm" (submit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ title | translate }}</h2>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [readonly]="this.mode === 'edit'" type="text" [placeholder]="'ENTER_ID' | translate" formControlName="id"
            required>
          <mat-error *ngIf="userForm.get('id').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('id').hasError('maxlength') || userForm.get('id').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_11_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('id').hasError('pattern')">
            {{ 'ONLY_NUMBERS_NOT_START_ZERO' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [placeholder]="'ENTER_FIRST_NAME' | translate" formControlName="firstName" required>
          <mat-error *ngIf="userForm.get('firstName').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('firstName').hasError('maxlength') || userForm.get('firstName').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('firstName').hasError('pattern')">
            {{ 'ONLY_LETTERS' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [placeholder]="'ENTER_LAST_NAME_ONE' | translate" formControlName="lastNameOne" required>
          <mat-error *ngIf="userForm.get('lastNameOne').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('lastNameOne').hasError('maxlength') || userForm.get('lastNameOne').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('lastNameOne').hasError('pattern')">
            {{ 'ONLY_LETTERS' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [placeholder]="'ENTER_LAST_NAME_TWO' | translate" formControlName="lastNameTwo">
          <mat-error *ngIf="userForm.get('lastNameTwo').hasError('maxlength') || userForm.get('lastNameTwo').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('lastNameTwo').hasError('pattern')">
            {{ 'ONLY_LETTERS' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [placeholder]="'ENTER_EMAIL' | translate" [readonly]="this.mode === 'edit'" formControlName="email" required>
          <mat-error *ngIf="userForm.get('email').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
            {{ 'THE_EMAIL_FORMAT' | translate }}
          </mat-error>
          <mat-error *ngIf="userForm.get('email').hasError('maxlength') || userForm.get('email').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_254_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_USER_TYPE' | translate" [disabled]="this.mode === 'edit'" formControlName="role" (valueChange)="onRoleSelected($event)"
            required>
            <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
              {{ userType.description | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('role').invalid">{{ 'SELECT_A_USER_TYPE' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="userForm.value.role === 4 && activeTechnicalFields">
        <div class="example-container">
          <mat-form-field>
            <input matInput autocomplete="false" [placeholder]="'ENTER_PROFESSIONAL_REGISTRATION' | translate" formControlName="professionalRegistration"
              required>
            <mat-error *ngIf="userForm.get('professionalRegistration').invalid">{{ 'THIS_FIELD_IS_REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="userForm.value.role === 3 && activeCoordinatorsFields">
        <div class="example-container">
          <mat-form-field>
            <mat-select [placeholder]="'SELECT_OFFICE' | translate" formControlName="office" required>
              <mat-option *ngFor="let office of offices | async" [value]="office.id">
                {{ office.name | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('office').invalid">{{ 'THIS_FIELD_IS_REQUIRED' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="mode === 'create'">
        <div class="example-container">
          <mat-form-field>
            <input matInput [placeholder]="'ENTER_PASSWORD' | translate" type="password" formControlName="password" required>
            <mat-error *ngIf="userForm.get('password').hasError('required')">
              {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="userForm.get('password').hasError('minlength') || userForm.get('password').hasError('maxlength')">
              {{ 'THIS_FIELD_MIN_LENGTH_IS_8_MAX_30' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field>
            <input matInput [placeholder]="'ENTER_CONFIRM_PASSWORD' | translate" type="password" formControlName="confirmPassword" required>
            <mat-error *ngIf="userForm.get('confirmPassword').hasError('required')">
              {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="userForm.get('confirmPassword').errors">
              {{ 'THE_PASSWORD_NOT_EQUIVALENT' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions fxLayout="row" *ngIf="mode === 'edit' ? userPermissions.update : userPermissions.create" fxLayout.xs="column">
      <button fxFlex="20" fxFlexOffset="80" class="save" type="submit" mat-button [disabled]="userForm.invalid" color="primary">
        {{ 'SAVE' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
