<form [formGroup]="visitForm" (submit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ title | translate }}</h2>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="date" [placeholder]="'SELECT_DATE' | translate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_FARM' | translate" formControlName="farm" required>
            <mat-option *ngFor="let farm of farms" [value]="farm.registerNumber">
              {{ farm.registerNumber + ' - ' + farm.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="visitForm.get('farm').invalid">{{ 'SELECT_FARM' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_TECHNICIAN' | translate" formControlName="technician" required>
            <mat-option *ngFor="let technical of technicals" [value]="technical.id">
                {{ technical.fullName }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="visitForm.get('technician').invalid">{{ 'SELECT_TECHNICIAN' | translate }}</mat-error>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="mode === 'edit' ? visitsPermissions.update : visitsPermissions.create" fxLayout="row" fxLayout.xs="column">
      <button fxFlex="20" fxFlexOffset="80" class="save" type="submit" mat-button [disabled]="visitForm.invalid" color="primary">
        {{ 'SAVE' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
