<div class="example-header">
  <mat-form-field>
    <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z4" *ngIf="visitsDataSource">

  <!-- <div class="spinner-container" *ngIf="usersDataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div> -->

  <mat-table [dataSource]="visitsDataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ID' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>

    <!-- Farm Column -->
    <ng-container matColumnDef="farm">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'FARM' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.farm.name }} </mat-cell>
    </ng-container>

    <!-- Tech Column -->
    <ng-container matColumnDef="technician">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TECHNICIAN' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.technical.fullName }} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DATE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.date | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button [matTooltip]="'EDIT' | translate" *ngIf="visitsPermissions?.update"  mat-icon-button (click)="clickEditVisit.emit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [matTooltip]="'REMOVE' | translate" *ngIf="visitsPermissions.delete" mat-icon-button (click)="clickRemoveVisit.emit(row.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button [matTooltip]="'DETAIL' | translate" mat-icon-button (click)="clickDetailVisit.emit(row)">
          <mat-icon>notes</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
