<div class="grid-container">
  <div>
    <section class="mat-typography">
      <h1>Participantes</h1>
      <div>Tatiana Zapata</div> 
      <div>Sebastian Pernett</div> 
      <div>Iván Andrés Gutiérrez</div> 
    </section>
  </div>
</div>
<div class="grid-container">
  <div>
    <section class="mat-typography">
      <h1>Correos</h1>
      <div>tatiana_zapata@elpoli.edu.co</div> 
      <div>sebastian_pernett23151@elpoli.edu.co</div> 
      <div>ivan_gutierrez23151@elpoli.edu.co</div> 
    </section>
  </div>
</div>
<div class="grid-container">
  <div>
    <section class="mat-typography">
      <h1>Politécnico Colombiano Jaime Isaza Cadavid © 2018</h1> 
      <div>Carrera 48 No. 7 – 151 | El Poblado, Medellín</div>
      <div>PBX: 444 76 54</div>
      <div>NIT: 890980136-6</div>
    </section>
  </div>
</div>