<div class="example-header">
  <mat-form-field>
    <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z4" *ngIf="userDataSource">

  <!-- <div class="spinner-container" *ngIf="usersDataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div> -->

  <mat-table [dataSource]="userDataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ID' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.profile?.fullName }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'EMAIL' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.email }} </mat-cell>
    </ng-container>

    <!-- User type Column -->
    <ng-container matColumnDef="userType">
      <mat-header-cell *matHeaderCellDef> {{ 'USER_TYPE' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.role?.description | translate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
      <mat-cell class="actions" *matCellDef="let row">
        <button mat-icon-button *ngIf="usersPermissions.update"  [matTooltip]="'EDIT' | translate" (click)="clickEditUser.emit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="usersPermissions.delete"  [matTooltip]="'REMOVE' | translate" (click)="clickRemoveUser.emit(row?.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="row?.role?.description === 'coordinator'" [matTooltip]="'ASSIGNMENT' | translate"  (click)="clickAssignmentTechnical.emit(row)">
          <mat-icon>assignment_turned_in</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
