<div class="grid-container">
    <h1 class="mat-h1">{{ 'OFFICES' | translate }}</h1>
  
    <app-offices-table
        [officesPermission$]="officePermission$"
        [officesObservable]="offices"
        (clickEditOffice)="editOffice($event)"
        (clickRemoveOffice)="removeOffice($event)">
    </app-offices-table>
  
  </div>
  
  <button mat-fab class="add" *ngIf="officePermission$.value?.create"  [matTooltip]="'ADD' | translate" [routerLink]="['../form', '']" [queryParams]="{ mode: 'create' }">
    <mat-icon>add</mat-icon>
  </button>
  
  