<div class="grid-container">
  <h1 class="mat-h1">{{ 'FARMS' | translate }}</h1>

  <app-farms-table
      [farmsPermission$]="farmPermission$"
      [farmsObservable]="farms"
      (clickEditFarm)="editFarm($event)"
      (clickRemoveFarm)="removeFarm($event)">
  </app-farms-table>

</div>

<button mat-fab class="add" *ngIf="farmPermission$.value?.create"  [matTooltip]="'ADD' | translate" [routerLink]="['../form', '']" [queryParams]="{ mode: 'create' }">
  <mat-icon>add</mat-icon>
</button>

