<form [formGroup]="resetPasswordForm" (submit)="submit()">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logogiba.jpg" width="120" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logopoli.png" width="200" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/gobernacion.png" width="300" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logoica.png" width="200" class="center">
    </div>

    <mat-card-header style="padding-top: 50px;">
      <mat-card-title>
        <h3>
          {{ 'RESET_PASSWORD' | translate }}
        </h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-form-field fxFlex="100">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input type="password" matInput [placeholder]="' ' + ('ENTER_NEW_PASSWORD' | translate)" formControlName="password">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-form-field fxFlex="100">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input type="password" matInput [placeholder]="' ' + ('ENTER_NEW_PASSWORD_CONFIRMATION' | translate)" formControlName="confirmPassword">
        </mat-form-field>
      </div>


    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <button mat-button fxFlexAlign="end" color="primary" [disabled]="resetPasswordForm.invalid" type="submit">{{ 'RESET_PASSWORD' | translate }}</button>
    </mat-card-actions>

  </mat-card>
</form>
