<div class="example-header">
  <mat-form-field>
    <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8" *ngIf="technicalDataSource">

  <mat-table [dataSource]="technicalDataSource" matSort>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TECHNICAL_ID' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TECHNICAL_NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.firstName }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="lastNameOne">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TECHNICAL_LASTNAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.lastNameOne }} </mat-cell>
    </ng-container>

    <!-- User type Column -->
    <ng-container matColumnDef="professional_registration">
      <mat-header-cell *matHeaderCellDef> {{ 'REGISTRATION_PROFESSIONAL' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row?.professionalRegistration }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-card-actions fxLayout="row" fxLayout.xs="column">
    <button fxFlex="20" fxFlexOffset="80" class="save"  (click)="clickSaveSelection.emit(selection.selected)" mat-button color="primary">
      {{ 'SAVE' | translate }}
    </button>
  </mat-card-actions>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>