.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.actions button {
  float: right;
}

.mat-cell, .mat-header-cell {
  overflow: visible !important;
}

button.save.mat-button.mat-primary {
  margin-left: 75% !important;
}