.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.grid-container {
  margin-top: 40px;
  margin-bottom: 5%;
}

b {
  font-weight: 500;
}

.text-small {
  font-size: 0.9em;
}

a:link { 
text-decoration:none; 
} 

.requirement {
  margin-left: 20px;
}