<mat-card style="margin-top: 15px">
  <section>
    <h2 style="text-align: center">{{'HEALTH_AND_SAFETY_AUTHORIZATION' | translate }}</h2>
    <div fxLayout="column">
      <!-- <div fxLayout="r fxFlexOffset="10px"ow">
        <span  fxFlex="40" class="text-small"><b>{{'VISIT_ID' | translate }} </b></span>
        <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.id}}</span>
      </div> -->
      <div fxLayout="row">
        <div fxFlex="50">
          <b>{{'VISIT_DATE' | translate }}</b>
          {{data.date}}
        </div>
        <div fxFlex="50">
          <b>{{'VISIT_DATE_NEXT' | translate }} </b>
          {{data.nextVisitDate}}
        </div>
      </div>

    </div>
  </section>
  <hr>
  <section>
    <h3 style="text-align: center">{{'GENERAL_INFORMATION_PROPERTY' | translate }} </h3>
    <div fxLayout="row">
      <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'FARM_NAME' | translate }}: </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.name}}</span>
        </div>
        <div fxLayout="column">
          <div fxFlexOffset="10px">
            <h4>{{ 'FARM_LOCATION' | translate }}</h4>
          </div>
          <div fxLayout="row" fxFlexOffset="7px">
            <span fxFlex="40" class="text-small">
              <b>{{'DEPARTMENT_POINT' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.sidewalk.municipality.department.name}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="10px">
            <span fxFlex="40" class="text-small">
              <b>{{'MUNICIPALITY_POINT' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.sidewalk.municipality.name}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="10px">
            <span fxFlex="40" class="text-small">
              <b>{{'SIDEWALK_POINT' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.sidewalk.name}}</span>
          </div>

          <div fxLayout="row" fxFlexOffset="10px">
            <span fxFlex="40" class="text-small">
              <b>{{'REGISTRATION_NUMBER_PROPERTY' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.registerNumber}}</span>
          </div>

          <div fxLayout="row" fxFlexOffset="10px">
            <span  fxFlex="40" class="text-small"><b>{{'OFFICE_ICA_NUMBER_PROPERTY' | translate }} </b></span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm?.officeId}}</span>
          </div>

          <div fxLayout="row" fxFlexOffset="10px">
            <span fxFlex="40" class="text-small">
              <b>{{'LATITUDE_POINT' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.latitude}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="10px">
            <span fxFlex="40" class="text-small">
              <b>{{'LONGITUDE_POINT' | translate }} </b>
            </span>
            <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.longitude}}</span>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50">
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'OWNER_POSSESSOR_OR_HOLDER' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.owner.firstName + ' ' + data.farm.owner.lastNameOne}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'OWNER_IDENTIFICATION' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.owner.id}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'OWNER_PHONE' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.owner.phone}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'OWNER_EMAIL' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.owner.email}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b> {{'NOTICE_ADDRESS' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.farm.owner.address}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'PERSON_WHO_ATTENDS_VISIT' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.personWhoAttendsName}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'PERSON_WHO_ATTENDS_VISIT_ID' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.personWhoAttendsId}}</span>
        </div>
        <div fxLayout="row" fxFlexOffset="10px">
          <span fxFlex="40" class="text-small">
            <b>{{'PERSON_WHO_ATTENDS_VISIT_PHONE' | translate }} </b>
          </span>
          <span class="text-small" fxFlex="60" fxFlexOffset="5px">{{data.personWhoAttendsPhone}}</span>
        </div>

      </div>
    </div>
    <hr>
  </section>

  <section fxLayout="column">

    <h3 style="text-align: center">{{'GENERAL_INFORMATION_ICA' | translate }}</h3>
    <div fxLayout="row" fxFlexOffset="10px">
      <span fxFlex="20" class="text-small">
        <b>{{'INSPECTOR' | translate }} </b>
      </span>
      <span class="text-small" fxFlex fxFlexOffset="5px">{{data.technical.firstName + ' ' + data.technical.lastNameOne}}</span>
    </div>
    <div fxLayout="row" fxFlexOffset="10px">
      <span fxFlex="20" class="text-small">
        <b>{{'PROFESSIONAL_REGISTRATION' | translate }} </b>
      </span>
      <span class="text-small" fxFlex fxFlexOffset="5px">{{data.technical.professionalRegistration}}</span>
    </div>

  </section>
  <hr>
  <section fxLayout="column">
    <h3 style="text-align: center">{{ 'GENERAL_INFO_PRODUCTIVE_ACTIVITY' | translate }}</h3>
    <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" *ngIf="data.productiveActivities">
      <div *ngFor="let productiveActivity of data.productiveActivities" style="margin-top: 10px; margin-bottom: 10px" fxFlex.sm="100"
        [fxFlex.md]="data.productiveActivities.length > 2? 33 : 50" [fxFlex.gt-md]="data.productiveActivities.length > 2? 25 : 50">
        <div fxLayout="column">
          <div fxLayout="row">
            <span fxFlex="20" class="text-small">
              <b>{{'EVALUATED_SPECIE' | translate }}: </b>
            </span>
            <span class="text-small" fxFlex="80" fxFlexOffset="5px">{{productiveActivity.specie.description}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="7px">
            <span fxFlex="20" class="text-small">
              <b>{{'BREED' | translate }}: </b>
            </span>
            <span class="text-small" fxFlex="80" fxFlexOffset="5px">{{productiveActivity.breed}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="7px">
            <span fxFlex="20" class="text-small">
              <b>{{'LIFT' | translate }}: </b>
            </span>
            <span class="text-small" fxFlex="80" fxFlexOffset="5px">{{productiveActivity.lift}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="7px">
            <span fxFlex="20" class="text-small">
              <b>{{'FATTEN' | translate }}: </b>
            </span>
            <span class="text-small" fxFlex="80" fxFlexOffset="5px">{{productiveActivity.fatten}}</span>
          </div>
          <div fxLayout="row" fxFlexOffset="7px">
            <span fxFlex="20" class="text-small">
              <b>{{'FULL_CYCLE' | translate }}: </b>
            </span>
            <span class="text-small" fxFlex="80" fxFlexOffset="5px">{{productiveActivity.fullCycle}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section fxLayout="column">
    <div fxLayout="row">
      <h3 style="text-align: center" fxFlex="89">{{ 'FARM_REQUIREMENTS' | translate }}</h3>
    </div>
    <div *ngFor="let category of categories" fxLayout="column" fxFlexOffset="15px">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex="90">
          <b>{{category.description | translate }} - {{'CATEGORY_PERCENT' | translate: ({percent: category.categoryPercent *
            100})}} ( {{'ITEM_VALUE' | translate:({value: category.maxScore})}} )</b>
        </span>
        <span fxFlex="10">
          <b>{{'QUALIFICATION' | translate }} ({{'SCORE' | translate}})</b>
        </span>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" *ngFor="let item of category.items" fxFlexOffset="8px">
          <span fxFlex="90">{{ item.id }}) {{ item.description }}</span>
          <div fxFlex="10">
            <span class="textSmall" style="text-align: center" fxLayoutAlign="center">
              <b>{{ item.qualifications && item.qualifications.length? item.qualifications[0].score : 'N/A' }}</b>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th>{{'TOTAL_ITEMS' | translate}}</th>
          <th>{{'TOTAL_ITEMS_SUCCEED' | translate}}</th>
          <th>{{'TOTAL_ITEMS_NA' | translate}}</th>
          <th>{{'TOTAL_ITEMS_SUCCEED_PERCENT' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoryResume of categoriesResume">
          <td>{{ categoryResume.categoryDescription | translate }}</td>
          <td style="text-align: center">{{ categoryResume.itemsSucceed }}</td>
          <td style="text-align: center">{{ categoryResume.itemsNA }}</td>
          <td style="text-align: center">{{ categoryResume.percent? categoryResume.percent : 'N/A' }}</td>
        </tr>
        <tr>
          <td>{{ 'TOTAL' | translate }}</td>
          <td style="text-align: center">{{ totalSucceed }}</td>
          <td style="text-align: center">{{ totalNA }}</td>
          <td style="text-align: center">{{ totalPercent.toFixed(2) }}%</td>
        </tr>
      </tbody>
    </table>
  </section>

  <hr>
  <section fxLayout="column" fxLayoutAlign="center center">
    <h3 fxFlex style="text-align: center"> {{ 'CRITERIA' | translate }}</h3>
    <p fxFlex *ngIf="totalPercent >= 80" style="text-align: center">{{'AUTHORIZED' | translate}}</p>
    <p fxFlex *ngIf="totalPercent > 59 && totalPercent < 80" style="text-align: center">{{'CONDITIONED' | translate}}</p>
    <p fxFlex *ngIf="totalPercent < 60" style="text-align: center">{{'NOT_AUTHORIZED' | translate}}</p>
  </section>

  <hr>
  <div *ngIf="data.observations">
    <section fxLayout="column">
      <h3 fxFlex style="text-align: center"> {{ 'OBSERVATIONS' | translate }}</h3>
      <p fxFlex class="text-small">{{data.observations}}</p>
    </section>

    <hr>
  </div>

  <div *ngIf="data.gradualCompliancePlan">
    <section fxLayout="column">
      <h3 fxFlex style="text-align: center"> {{ 'GRADUAL_COMPLIANCE_PLAN' | translate }}</h3>
      <p fxFlex class="text-small">{{data.gradualCompliancePlan}}</p>
    </section>

    <hr>
  </div>

  <section fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex height="150px" [src]="apiRoot + (data.ownerFarmSign && data.ownerFarmSign.replace('./public', ''))" />
      <span fxFlex>{{data.personWhoAttendsName}}</span>
      <span fxFlex class="text-small">
        <b>{{ 'OWNER_NAME_AND_SIGN' | translate }}</b>
      </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <img fxFlex height="150px" [src]="apiRoot + (data.inspectorSign && data.inspectorSign.replace('./public', ''))" />
      <span fxFlex>{{data.technical?.fullName}}</span>
      <span fxFlex class="text-small">
        <b>{{ 'INSPECTOR_NAME_AND_SIGN' | translate }}</b>
      </span>
    </div>
  </section>

</mat-card>

<mat-card style="margin-top: 20px" *ngIf="evidences.length">
  <div fxLayout="column">
    <h2 style="text-align: center">{{'EVIDENCES' | translate}}</h2>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <a fxFlex.sm="100" fxFlexAlign="center center" [fxFlex.md]="evidences.length > 2? 33 : 50" [fxFlex.gt-md]="evidences.length > 2? 25 : 50"
        target="_blank" *ngFor="let evidence of evidences" style="cursor: pointer;" [href]="apiRoot + evidence.url">
        <div>
          <img style="max-width: 200px; max-height: 200px;" [src]="apiRoot + evidence.url" />
        </div>
        <span class="requirement">{{ 'REQUIREMENT' | translate }} {{ evidence.item }}</span>
      </a>
    </div>
  </div>
</mat-card>
