<div class="grid-container">
  <h1 class="mat-h1">{{ 'VISITS' | translate }}</h1>

  <app-visits-table [visitsPermission$]="visitsPermission$" [visitsObservable]="visits" (clickEditVisit)="editVisit($event)"
    (clickRemoveVisit)="removeVisit($event)" (clickDetailVisit)="detailVisit($event)">
  </app-visits-table>

</div>

<button mat-fab *ngIf="visitsPermission$.value.create" [matTooltip]="'ADD' | translate" class="add" [routerLink]="['../form', '']" [queryParams]="{ mode: 'create' }">
  <mat-icon>add</mat-icon>
</button>
