<div class="grid-container">
  <h1 class="mat-h1">{{ 'USERS' | translate }}</h1>


  <app-users-table
  [userPermission$]="userPermission$"
  [usersObservable]="users" 
  (clickEditUser)="editUser($event)" 
  (clickRemoveUser)="removeUser($event)"
  (clickAssignmentTechnical)="clickAssignmentTechnical($event)">
  </app-users-table>

  <button mat-fab class="add" *ngIf="userPermission$.value.create" [matTooltip]="'ADD' | translate" [routerLink]="['../form', '']" [queryParams]="{ mode: 'create' }">
    <mat-icon>add</mat-icon>
  </button>

</div>
