@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$ica-theme-primary: mat-palette($mat-green, 700, 300, 900);
$ica-theme-accent: mat-palette($mat-yellow);
$ica-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$ica-theme: mat-light-theme(
    $ica-theme-primary,
    $ica-theme-accent,
    $ica-theme-warn
);


@include angular-material-theme($ica-theme);
