/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@import 'ica-theme.scss';

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
