<form [formGroup]="farmForm" (submit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ title | translate }}</h2>
      </mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" type="text" [readonly]="this.mode === 'edit'" [placeholder]="'ENTER_REGISTER_NUMBER' | translate" formControlName="registerNumber" required>
          <mat-error *ngIf="farmForm.get('registerNumber').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="farmForm.get('registerNumber').hasError('maxlength') || farmForm.get('registerNumber').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_11_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
          <mat-error *ngIf="farmForm.get('registerNumber').hasError('pattern')">
            {{ 'ONLY_NUMBERS_NOT_START_ZERO' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput autocomplete="false" [placeholder]="'ENTER_FARM_NAME' | translate" formControlName="name" required>
          <mat-error *ngIf="farmForm.get('name').hasError('required')">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="farmForm.get('name').hasError('maxlength') || farmForm.get('name').hasError('minlength')">
            {{ 'THIS_FIELD_MAX_LENGTH_255_AND_MIN_LENGTH_2' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_DEPARTMENT' | translate" formControlName="department" (selectionChange)="onSelectDepartment()" required>
            <mat-option *ngFor="let department of departments | async" [value]="department.id">
              {{ department.name | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmForm.get('department').invalid">{{ 'SELECT_A_DEPARTMENT' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_MUNICIPALITY' | translate" formControlName="municipality" (selectionChange)="onSelectMunicipality()" required>
            <mat-option *ngFor="let municipality of municipalities | async" [value]="municipality.id">
              {{ municipality.name | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmForm.get('municipality').invalid">{{ 'SELECT_A_MUNICIPALITY' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_SIDEWALK' | translate" formControlName="sidewalk" required>
            <mat-option *ngFor="let sidewalk of sidewalks | async" [value]="sidewalk.id">
              {{ sidewalk.name | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmForm.get('sidewalk').invalid">{{ 'SELECT_A_SIDEWALK' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_OFFICE' | translate" formControlName="office" required>
            <mat-option *ngFor="let office of offices | async" [value]="office.id">
              {{ office.name | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmForm.get('office').invalid">{{ 'SELECT_A_OFFICE' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <mat-select [placeholder]="'SELECT_OWNER' | translate" formControlName="owner" required>
            <mat-option *ngFor="let owner of owners | async" [value]="owner.id">
              {{ owner.firstName + ' ' + owner.lastNameOne }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="farmForm.get('owner').invalid">{{ 'SELECT_A_OWNER' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput type="number" autocomplete="false" [placeholder]="'ENTER_LATITUDE' | translate" formControlName="latitude" required>
          <mat-error *ngIf="farmForm.get('latitude').invalid">
            {{ 'INCORRECT_LATITUDE_FORMAT' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput type="number" autocomplete="false" [placeholder]="'ENTER_LONGITUDE' | translate" formControlName="longitude" required>
          <mat-error *ngIf="farmForm.get('longitude').invalid">
            {{ 'INCORRECT_LONGITUDE_FORMAT' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput type="number" autocomplete="false" [placeholder]="'ENTER_AREA' | translate" formControlName="area" required>
          <mat-error *ngIf="farmForm.get('area').invalid">
            {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="mode === 'edit'? farmsPermissions?.update : farmsPermissions?.create" fxLayout="row" fxLayout.xs="column">
      <button fxFlex="20" fxFlexOffset="80" class="save" type="submit" mat-button [disabled]="farmForm.invalid" color="primary">
        {{ 'SAVE' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
