<div fxLayout="row" fxLayout.xs="column">

  <app-login-form fxFlex="30" fxFlexOffset="35"
    (recoverPassword)="onRecoverPassword($event)"
    (submitForm)="onSubmitForm($event)">

  </app-login-form>

</div>
