<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpen" color="primary">
    <div class="logo">
      <span>
        <img src="./assets/imgs/logogiba.jpg">
      </span>
    </div>
    <div class="menu">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of list " [routerLink]="item.routerLink">
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          <h3 matLine [translate]="item.name"></h3>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item (click)="onClickLogout()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <h3 matLine [translate]="'LOGOUT'"></h3>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="container">
    <mat-toolbar color="primary">
      <span>{{ 'ICA' | translate }}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>
</mat-sidenav-container>
