<div class="grid-container">
  <div>
    <section class="mat-typography">
      <h1>Resolución ICA</h1>
      <div class="parrafo-ica">
        El Instituto Colombiano Agropecuario (ICA) tiene un formato físico (designado de la resolución
        <strong> 020148 del 8 de Agosto del 2016 </strong> del ICA) para realizar las evaluaciones sanitarias y de inocuidad de los
        predios pecuarios productores de animales, destinados al sacrificio para el consumo humano. Dado que este formato
        es físico se corre el riesgo de perder la información por diferentes causas como desastres naturales, errores humanos,
        etc.
      </div>
      <div class="parrafo-ica">
        Esta aplicación ha sido desarrollada con el propósito de facilitar la evaluación de los predios pecuarios, desde la comodidad
        de un dispositivo móvil además de ver la información consolidada en una plataforma web de fácil manejo.
      </div>

      <div><img src="./assets/imgs/pdf.png" width="50"><a href="./assets/documents/res.pdf" download="res.pdf">Resolución ICA</a></div>
      <div><img src="./assets/imgs/pdf.png" width="50"><a href="./assets/documents/manual_usuario.docx" download="manual_usuario.docx">Manual de usuario</a></div>
      
    </section>
  </div>
</div>
