<form [formGroup]="ownerForm" (submit)="submit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{ title | translate }}</h2>
            </mat-card-title>

        </mat-card-header>
        <mat-card-content>

            <div class="example-container">
                <mat-form-field>
                    <input matInput type="text" [readonly]="this.mode === 'edit'" [placeholder]="'ENTER_ID' | translate" formControlName="id" autocomplete="false" required>
                    <mat-error *ngIf="ownerForm.get('id').hasError('required')">
                        {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('id').hasError('maxlength') || ownerForm.get('id').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_11_AND_MIN_LENGTH_2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('id').hasError('pattern')">
                        {{ 'ONLY_NUMBERS_NOT_START_ZERO' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput autocomplete="false" [placeholder]="'ENTER_FIRST_NAME' | translate" formControlName="firstName" required>
                    <mat-error *ngIf="ownerForm.get('firstName').hasError('required')">
                        {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('firstName').hasError('maxlength') || ownerForm.get('firstName').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('firstName').hasError('pattern')">
                        {{ 'ONLY_LETTERS' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput autocomplete="false" [placeholder]="'ENTER_LAST_NAME_ONE' | translate" formControlName="lastNameOne" required>
                    <mat-error *ngIf="ownerForm.get('lastNameOne').hasError('required')">
                        {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('lastNameOne').hasError('maxlength') || ownerForm.get('lastNameOne').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('lastNameOne').hasError('pattern')">
                        {{ 'ONLY_LETTERS' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput autocomplete="false" [placeholder]="'ENTER_LAST_NAME_TWO' | translate" formControlName="lastNameTwo" autocomplete="false">
                    <mat-error *ngIf="ownerForm.get('lastNameTwo').hasError('maxlength') || ownerForm.get('lastNameTwo').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_45_AND_MIN_LENGTH_2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('lastNameTwo').hasError('pattern')">
                        {{ 'ONLY_LETTERS' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput type="text" [placeholder]="'ENTER_PHONE' | translate" formControlName="phone" autocomplete="false" required>
                    <mat-error *ngIf="ownerForm.get('phone').hasError('required')">
                        {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('phone').hasError('maxlength') || ownerForm.get('phone').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_11_AND_MIN_LENGTH_7' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('phone').hasError('pattern')">
                        {{ 'ONLY_NUMBERS' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput autocomplete="false" [placeholder]="'ENTER_EMAIL' | translate" formControlName="email" required>
                    <mat-error *ngIf="ownerForm.get('email').hasError('required')">
                        {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('email').hasError('email') && !ownerForm.get('email').hasError('required')">
                        {{ 'THE_EMAIL_FORMAT' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ownerForm.get('email').hasError('maxlength') || ownerForm.get('email').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_254_AND_MIN_LENGTH_2' | translate }}
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <input matInput autocomplete="false" [placeholder]="'ENTER_ADDRESS' | translate" formControlName="address">
                    <mat-error *ngIf="ownerForm.get('address').hasError('maxlength') || ownerForm.get('address').hasError('minlength')">
                        {{ 'THIS_FIELD_MAX_LENGTH_100_AND_MIN_LENGTH_2' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions ng-if="mode == 'edit' ? ownersPermissions.update : ownersPermissions.create" fxLayout="row" fxLayout.xs="column">
            <button fxFlex="20" fxFlexOffset="80" class="save" type="submit" mat-button [disabled]="ownerForm.invalid" color="primary">
                {{ 'SAVE' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
