<div class="example-header">
    <mat-form-field>
      <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z4" *ngIf="officesDataSource">

    <!-- <div class="spinner-container" *ngIf="usersDataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div> -->

    <mat-table [dataSource]="officesDataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'OFFICE_ID' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'OFFICE_NAME' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row">
          <button mat-icon-button [matTooltip]="'EDIT' | translate" (click)="clickEditOffice.emit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [matTooltip]="'REMOVE' | translate" (click)="clickRemoveOffice.emit(row.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
