<h2 mat-dialog-title>{{ data.removeItem | translate}}</h2>
<mat-dialog-content>{{'ARE_YOU_SURE' | translate}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'NO' | translate}}</button>
  <button mat-button [mat-dialog-close]="true">{{'YES' | translate}}</button>
</mat-dialog-actions>
