<div class="example-header">
    <mat-form-field>
      <input matInput [placeholder]="'SEARCH' | translate" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z4" *ngIf="farmsDataSource">

    <!-- <div class="spinner-container" *ngIf="usersDataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div> -->

    <mat-table [dataSource]="farmsDataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="registerNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'REGISTER_NUMBER' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.registerNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'NAME' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LATITUDE' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.latitude }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LONGITUDE' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.longitude }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row">
          <button *ngIf="farmsPermissions?.update" mat-icon-button [matTooltip]="'EDIT' | translate" (click)="clickEditFarm.emit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="farmsPermissions?.delete" mat-icon-button [matTooltip]="'REMOVE' | translate" (click)="clickRemoveFarm.emit(row.registerNumber)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
