<form [formGroup]="loginForm" (submit)="submit()">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logogiba.jpg" width="120" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logopoli.png" width="200" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/gobernacion.png" width="300" class="center">
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <img src="./assets/imgs/logoica.png" width="200" class="center">
    </div>
    
    <mat-card-header style="padding-top: 20px;">
      <mat-card-title>
        <h3>
          {{ 'LOGIN' | translate }}
        </h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-form-field fxFlex="100">
          <mat-icon matPrefix>email</mat-icon>
          <input type="mail" matInput [placeholder]="' ' + ('EMAIL' | translate)" formControlName="email">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-form-field fxFlex="100">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input type="password" matInput [placeholder]="' ' + ('PASSWORD' | translate)" formControlName="password">
        </mat-form-field>
      </div>


    </mat-card-content>

    <mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <a mat-button class="sign-in" fxFlexAlign="end" color="primary" [disabled]="loginForm.get('email').invalid" (click)="recoverClicked()">{{ 'RECOVER_PASSWORD' | translate }}</a>
      <button mat-button class="sign-in" type="submit" fxFlexAlign="end" color="primary" [disabled]="loginForm.invalid">{{ 'SIGN_IN' | translate }}</button>
    </mat-card-actions>

  </mat-card>
</form>
